name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 5 * * 1'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            sbt_version: "1.2.8"
            os: ubuntu-latest
          - java: 8
            os: ubuntu-latest
          - java: 8
            os: windows-latest
          - java: 11
            os: ubuntu-latest
          - java: 17
            os: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.5
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - uses: coursier/cache-action@v6
    - shell: bash
      run: sbt -v $(if [[ "${{matrix.sbt_version}}" != "" ]] ; then echo "^^${{matrix.sbt_version}}" ; fi) test scripted
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
