name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 5 * * 1'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            os: ubuntu-latest
            distribution: zulu
          - java: 8
            os: windows-latest
            distribution: zulu
          - java: 11
            os: ubuntu-latest
            distribution: temurin
          - java: 17
            os: ubuntu-latest
            distribution: temurin
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: ${{ matrix.distribution }}
        cache: sbt
    - uses: sbt/setup-sbt@v1
    - shell: bash
      run: sbt -v test scripted "++ 3.x" test scriptedTestSbt2
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
